.quoteTable {
  /* table-layout: fixed; */
  border-collapse: collapse;
  width: 66%;
}

.quoteTable th, .quoteTable td {
  padding: 10px;
  border: 1px solid #cccccc;
}

.quoteTable .quoteRow:nth-child(even) {
  background-color: #eaeaea;
}